<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Clean Screen</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <div class="aside">
            <div>
                <label>Width</label>
                <input type="number" id="width">

                <label>Growth Amount</label>
                <input type="number" id="growthAmount">

                <label>Growth Rate</label>
                <input type="number" id="growthRate">

                <label>Number of circle</label>
                <input type="number" id="numberOfCircle">
                <br><br>
                <button type="button" id="start">Start</button>

            </div>
        </div>
        <div class="main">
            <!-- <div class="circle"></div> -->
        </div>
    </div>
</body>
<script src="event.js"></script>
<script src='main.js'></script>

</html>