        .container {
            display: grid;
            grid-template-areas: 'sideInput circleArea circleArea circleArea circleArea';
            height: 95vh;
        }
        
        .aside {
            grid-area: sideInput;
        }
        
        .aside div {
            margin: auto;
            position: absolute;
            bottom: 100px;
            width: 140px;
        }
        
        .aside div>button {
            background-color: blue;
            width: 100%;
            color: #fff;
        }
        
        .main {
            grid-area: circleArea;
        }