<!DOCTYPE html>
<!--
  Dear Professor,
  I was able to apply today's lesson. <code>filter,reduce,forEach and map</code> are the methods implemented
  to solve the lab. It's an interesting functionality ES6 introduced. These methods have some similarities to Java's <code>filter,reduce,map and forEach </code>
   .
  Thank you.  
-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Intro to Js</title>

    <!-- add mocha css, to show results -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.2.0/mocha.css">
    <!-- add mocha framework code -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.2.0/mocha.js"></script>
    <script>
        mocha.setup('bdd'); // minimal setup
    </script>
    <!-- add chai -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.5.0/chai.js"></script>
    <script>
        // chai has a lot of stuff, let's make assert global
        let assert = chai.assert;
    </script>
    <script src="main.js"></script>
</head>

<body>

    Look in the Chrome developer console to see the output. CTRL_SHIFT_J

    <h1>My Javascript Solution</h1>
    <p>Dear Professor,</p>
    <p> I integrated mocha junit testing library. It's very easy to use and provides feature to group unit testings.
    </p>
    <div id="mocha"></div>
    <script>
        mocha.run();
    </script>
</body>

</html>