<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title-container">
        <h1 class="pull-left">Start</h1>
        <div class="account-user">
            <h3>Philip Sarfo Owusu</h3>
            <p>User</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="row">
            <div class="grid-layout-12">
                <div class="cell-4 window-blue">

                </div>

                <div class="cell-4 orange">
                    
                </div>

                <div class="cell-2 red">

                </div>

                <div class="cell-2 margin-3 facebook-blue"></div>

                <div class="cell-2  twitter-blue"></div>
            </div>

            <div class="grid-layout-12">
                <div class="cell-2 light-green">

                </div>
                <div class="cell-2 twitter-blue">

                </div>

                <div class="cell-2 yellow">

                </div>

                <div class="cell-4 yellow">

                </div>

                <div class="cell-2 margin-3 red"></div>

                <div class="cell-2 deep-red"></div>
            </div>

            <div class="grid-layout-12">
                <div class="cell-2 red">

                </div>
                <div class="cell-2 yellow">

                </div>
                <div class="cell-4 window-blue">

                </div>
                <div class="cell-2 light-green">

                </div>

                <div class="cell-4 margin-3 green"></div>
            </div>
        </div>
    </div>
</body>
</html>