<!DOCTYPE html>
<!--
    I was able to complete the responsive website using the grid as well as the bootstrap. It took me about 1 hour for the grid and 35 mins for the bootstrap version. Bootstrap makes designing HTML easier and faster. The interesting idea is
                    to familiarize with the class names and their usages. Thank you
-->
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Response Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <h3>Header</h3>
        </div>
        <div class="menu">
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
            </ul>
        </div>
        <div class="column1">Column 1</div>
        <div class="column2"> Column 2</div>
        <div class="column3">Column 3</div>
        <div class="footer">Footer</div>
    </div>
    <a href="https://validator.w3.org/check?uri=referer">
        <img src="http://mumstudents.org/cs472/2013-09/images/w3c-html.png" alt="html validator" />
    </a>

    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="http://mumstudents.org/cs472/2013-09/images/w3c-css.png" alt="css validator" />
    </a>
</body>

</html>