body {
    background: rgb(89, 86, 71, 1);
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

.title {
    color: rgb(149, 199, 241, 1);
}

.container {
    min-height: 100vh;
}

.container p {
    color: #fff;
}

.titleDescription {
    padding-top: 10px;
}

.dashed {
    background-color: #fff;
}

h3 {
    color: rgb(149, 199, 241, 1);
}

ul>li {
    color: #fff;
}

ul>li>a {
    color: rgb(245, 28, 28);
}

.imgContainer {
    width: 400px;
}

.imgContainer img {
    width: 150px;
    height: 150px;
    float: right;
    padding-bottom: 50px;
}

.imgContainer p {
    float: left;
    padding-top: 98px;
}

.happyContainer {
    float: left;
}

.sadContainer {
    float: right;
}